body{
    background-image: url('./images/background.jpg');
    background-attachment: fixed;
    font-family: NotoSans, 'sans-serif';
    margin: 0;
}

@font-face {
    font-family: 'NotoSans';
    src: local('NotoSans'), url(./fonts/NotoSans-Regular.ttf) format('truetype');
  
}

.triangleImage {
    width: 0;
    height: 0;
    border-top: 60vh solid #b388eb;
    border-right: 40vw solid transparent;
    border-left: 20vw solid #b388eb;
    margin-top: -30px;
    animation-name: slideIn;
    animation-duration: 0.75s;
}
  
.mainContent {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2vh;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    animation-name: profileSlideIn;
    animation-duration: 0.75s;
}

.headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: calc(15px + 0.5vmin);
    font-weight: 300;
    flex-direction: column;
}

.mainHeader {
    font-size: calc(25px + 12.5vmin);
    margin: 0%;
    margin-right: -5vw;
    font-weight: 600;
    font-style: italic;
}

#mainTagline {
    font-weight: 700;
    font-size: calc(25px + 0.5vmin);
    margin-bottom: 75;
    display: none;
}

.taglines {
    text-align: center;
    font-size: calc(12px + 0.5vmin);
    color: white;
    font-family: NotoSans;
}


.headshot {
    height: calc(60px + 20vmin);
    width: calc(70px + 20vmin);
    border-radius: 1000px;
}

.resumeBtn {
    background-color: #141C3A;
    box-shadow: 3px 3px 3px #694f8b;
    color: white;
    border: none;
    border-radius: 1vh;
    padding: calc(5px + 1vmin) calc(15px + 2vmin);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: NotoSans;
}

@keyframes slideIn {
    from {border-left-width: 0vw; border-right-width: 0vw;}
    to {border-left-width: 20vw; border-right-width: 40vw;}
}

@keyframes slideInPhone {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes profileSlideIn {
    from {margin-right: 50vw;}
    to {margin-right: 0vw;}
}

@media only screen and (max-width: 766px) {
    .headerShader {
        display: none
    }
    .headerTitle p {
        display: none;
    }
    .triangleImage {
        display: none;
    }
    .mainContent {
        align-items: center;
        flex-direction: column;
        background-color: #b388eb;
        padding-bottom: 5vh;
    }
    
    #mainTagline {
        font-weight: 700;
        font-size: calc(25px + 0.5vmin);
        margin-bottom: 75;
        display: block;
    }
}