.contactShader{
    padding: 8vh;
    display: flex;
    align-items: center;
    background-color: #54406e73;
    flex-direction: column;
}

.mailIcon {
    width: 8vw;
}

.contactsTitle {
    align-self: center;
    font-size: calc(22px + 1vmin);
    border-bottom: 1px solid white;
    padding-left: 5vw;
    padding-right: 5vw;
    color: white;
    font-family: 'Oregano', cursive;
}

.contactContainer {
    padding-top: 5vh;
    background-color: white;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.contactForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formTextArea {
    width: 45vmax;
    height: 300px;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 5px;
    font-size: calc(10px + 0.5vw);
    font-family: 'Noto Sans JP', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formTextArea.is-visable {
    animation-name: slideOutTextArea;
    animation-duration: 2s;
}

@keyframes slideOutTextArea {
    from {width: 0vmax;}
    to {width: 45vmax;}
}

.formTextInput {
    width: 16vmax;
    margin-top: 3vh;
    font-size: calc(15px + 0.25vw);
    border-radius: 4px;
    border: 0;
    border-bottom: 2px solid #b388eb;
    padding-left: 2vw;
    margin-left: 1vw;
}

.subjectFormInput {
    width: 32vmax;
    margin-top: 3vh;
    font-size: calc(15px + 0.25vw);
    border-radius: 4px;
    border: 0;
    border-bottom: 2px solid #b388eb;
    padding-left: 2vw;    
}

.formTextInput.is-visable{
    animation-name: slideOut;
    animation-duration: 2s;
}

.subjectFormInput.is-visable {
    animation-name: slideOutSubject;
    animation-duration: 2s;
}

@keyframes slideOut {
    from {width: 0vmax;}
    to {width: 16vmax;}
}

@keyframes slideOutSubject {
    from {width: 0vmax;}
    to {width: 32vmax;}
}

@media only screen and (max-width: 1240px) {
    .formTextArea {
        padding: 2.5vw;
        box-sizing: border-box;
    }
    .contactBtn {
        padding-left: 8vw;
        padding-right: 8vw;
    }
}