#footerContainer {
    background-color: #b388eb;
    display: flex;
    align-items: center;
    padding: 5vh;
    flex-direction: column;
}

.socialLinkGroup {
    display: flex;
}

.socialIcon {
    width: 3.5vmax;
}

.socialLink {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    transition: 0.5s;
}